#wrapper{
	background-color:#000;
}
.block_background_top{
	background:url(../img/core/hits-bg-pattern-1.png) no-repeat center center;
}
.block_background_recommended{
	background:url(../img/core/hits-bg-pattern-recommended.png) no-repeat center center;
}
.block_background1{
	background:url(../img/core/hits-bg-pattern-1.png) no-repeat center center;
}
.block_background2{
	background:url(../img/core/hits-bg-pattern-2.png) no-repeat center center;
}
.block_background3{
	background:url(../img/core/hits-bg-pattern-3.png) no-repeat center center;
}
.block_background4{
	background:url(../img/core/hits-bg-pattern-4.png) no-repeat center center;
}
.block_background5{
	background:none;
}
.block_background_pure{
	background:none;
}
.block_background_default{
	padding:20px 0 20px 0;
}
.block_background_body_bottom{
	background:url(../img/core/hits-bg-pattern-bottom.jpg) no-repeat center bottom;
}
.block_background_schedule{
	background:url(../img/core/hits_schedule_box.jpg) repeat-y top center;
}

.schedule_timeline_odd, .schedule_timeline_even{
	background-position:0 -128px;
}

/*.highlight_block_line*/
.menu_line{
	border-bottom: solid 2px #ff5200;
}
.about_show_timer_box div.font_header, .about_show_menu a.selected, .shows_font, .show_thumb_title, a.font_content:hover, .font_show_name, .schedule_timer_list a.selected, .schedule_time_section a.selected, .shows_listing_tbl td a, .shows_listing_tbl th a, ol.numberic_bullet_listing li{
	color:#ff5200 !important;
}
.view_more_btn{
	background-color:#f07e38;
	border:1px solid #b74f10;
}
.shows_listing_tbl th, .shows_listing_view_thumb.selected, .shows_listing_view_list.selected{
	background-color:#ff5200;
}
.marquee_nav_thumbnail_selected {
	border: solid 2px #ff5200;
}
.back_to_top{
	float:right;
	padding-right:15px;
	background:url(../img/core/back_top_arrow.png) no-repeat right -57px;
}
#block_schedule_nav_left {
	background-position: -347px -130px;
}
#block_schedule_nav_right {
	background-position: -387px -130px;
}
#marquee_nav_container{
	background: url(../img/core/hits-marquee-nav-tip.png) center top no-repeat;
	background-color: rgba(0, 0, 0, 0.8);
}
.ep_highlight_link_block a.selected{
	background-color: #ff5200;
	border: 1px solid #b74f10;
	color:#000;
}
.glow{
	background:none;
	display:none;
}

/* Button */
.hboCommonBtn span {
	background-position: right -23px;
}
.hboCommonBtn {
	background-position:left -23px;
}

.coutry_sel div.tag_select {
	background: transparent url(../img/core/hits-dropdown-box.png) no-repeat 0 0;
	color:#000;
}
.coutry_sel div.tag_select_open {
	background: transparent url(../img/core/hits-dropdown-box.png) no-repeat 0 0px;
	color:#000;
}
.coutry_sel ul.tag_options {
	background: transparent url(../img/core/hits-dropdown-box.png) no-repeat right bottom;
	color:#000;
}
.coutry_sel ul.tag_options li {
	background: transparent url(../img/core/hits-dropdown-box.png) repeat-y -188px 0;
	color: #000;
}
.coutry_sel ul.tag_options li:hover{
	background:none #FFF !important;
	color: #000;
}

/* Page navigation */
.page_nav_bottom_line{
	background: url(../img/core/hits_nav_bottom_line.jpg) repeat-y;
	height:2px;
	background-color:#0e0400;
	background-size: 100% auto;
}
.page_nav_bottom_line_position_hits_8, .page_nav_bottom_line_position_hits_7, .page_nav_bottom_line_position_hits_6, .page_nav_bottom_line_position_hits_5, .page_nav_bottom_line_position_hits_4
{
	background-position:25px top;
}
.page_nav_bottom_line_position_hits_3, .page_nav_bottom_line_position_hits_2, .page_nav_bottom_line_position_hits_1{
	background-position:-150px top;
}